* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header {
    background-color: rgba(100, 149, 237, 1);
    color: #fff;
    font-family: arial;
    width: 100%;
    position: fixed;
    z-index: 1;
    text-shadow: 1px 1px 2px #000;
    box-shadow: 10.1px 10.1px 10.2px #000;
    padding: 1rem;
}

@media(min-width: 320px) and (max-width: 450px) {
    header {
        text-align: center;
    }
}

body {
    background-color: rgba(245, 245, 245);    
}

footer {
    font-family: arial;
    color: #fff;
    background-color: rgba(100, 149, 237, 1);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 1px 1px 2px #000;
    box-shadow: 10.1px 10.1px 10.2px #000;
}

.container {
    display: block;
    background-color: #fff;
    width: 95%;
    box-shadow: 10.1px 10.1px 10.2px #000;
    margin: 0 auto;
    max-width: 90%;
    max-height: 90%;
    min-width: 0;
    min-height: 0;
    margin-top: 40px;
}

.texto-footer {
    text-align: center;
    font-family: arial;
    /* padding-top: 10px; */
    font-size: 1.6rem;
    padding-bottom: 10px;
}

div.video {
    position: relative;
    padding-bottom: 50%;
    background-color: rgba(255, 255, 255, 1.0);
    height: 90%;
    width: 90%;
    margin: 0 auto;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}